:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #f0f0f0;
  --color-accent-1: #1C83F0;
  --color-gradient: linear-gradient(180deg, #036CE4 0%, #379CFD 100%);
  --color-heading: #292929;
  --color-paragraph: #4E4E4E;
}
body {
    overflow-x: hidden;
    font-size: 17px;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}

/* Headings
---------------------------------- */

h1, h2, h3 ,h4 , h5, h6 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #fff;
}
h1, .h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
h2, .h2 {
    font-size: 1.5em;
}
h3, .h3 {
    font-size: 1.25em;
}
.subheader {
    font-size: 1.1em;
}

@media(min-width:768px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2em;
    }
}

/* Colors and bg
---------------------------------- */

.color-white {
    color: var(--color-white);
}
.color-black-1 {
    color: var(--color-heading);
}
.color-black-2 {
    color: var(--color-heading);
}

/* Paddings
---------------------------------- */

.pt-xsmall {
    padding-top: 20px;
}
.pt-small {
    padding-top: 40px;
}
.pt-medium {
    padding-top: 60px;
}
.pt-large {
    padding-top: 80px;
}
.pb-xsmall {
    padding-bottom: 20px;
}
.pb-small {
    padding-bottom: 40px;
}
.pb-medium {
    padding-bottom: 60px;
}
.pb-large {
    padding-bottom: 80px;
}

/* Button
---------------------------------- */

.btn {
    display: inline-block;
    padding: 11px 65px 13px;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.08em;
    box-shadow: 0px 6px 33px rgba(0, 0, 0, 0.12);
    border-radius: 30px;
}
.btn:active {
    border: none!important;
}
.btn-white {
    background: #fff;
    color: #292929;

}
.btn-blue {
    background: linear-gradient(45deg, #026AE3 4.84%, #22A1FF 104.93%);
    color: var(--color-white);
}

.btn-blue:hover {
    color: #fff;
}
.btn-fix {
    padding: 21px 25px 23px;
    border-radius: 15px;
    letter-spacing: 0;
}
/* Position
---------------------------------- */

.p-relative {
    position: relative;
    z-index: 1;
}
.w-100 {
    position: relative;
}

/* Logo
---------------------------------- */

.logo-wrap img {
    width: 110px;
}

/* Responsive
---------------------------------- */

.container {
    max-width: 1140px;
    padding-right: var(--bs-gutter-x,2.2rem);
    padding-left: var(--bs-gutter-x,2.2rem);
}

@media(max-width:768px) {
    .text-center-m {
        text-align: center;
    }
    .mob-none {
        display: none;
    }
}

@media(min-width:768px) {
    .container-xl {
        max-width: 1260px;
    }
    .text-end-d {
        text-align: end;
    }
    .desk-none {
        display: none!important;
    }
    .w-6-d {
        width: 60%;
    }
    .w-7-d {
        width: 70%;
    }
    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .d-flex-d {
        display: flex;
    }
}
@media(min-width:1400px) {
    .container-xl {
        max-width: 1560px;
    }
}
@media(min-width:1600px) {
    .container-xl {
        max-width: 1560px;
    }
}

/* Main
---------------------------------- */

main {
    position: relative;
}
main::before {
    position: absolute;
    content: "";
    top: calc(255px + 150vw);
    bottom: 515px;
    left: 0;
    right: 0;
    background: var(--color-gradient);
    border-radius: 56px 56px 0px 0px;
    z-index: -1;
}

@media(min-width:768px) {
    main::before {
        top: 600px;
        bottom: 0;
    }
}
@media(min-width:1024px) {
    main::before {
        top: 700px;
        bottom: 0;
    }
}

/* List
---------------------------------- */

@media(min-width:768px) {
    .list__wrap {
        max-width: 48%;
    }
}
@media(min-width:1400px) {
    .list__wrap {
        max-width: 38%;
    }
}


/* Includes
---------------------------------- */

.accordion-item {
    margin-bottom: 20px;
    border-radius: 10px!important;
}
.accordion-button {
    padding: 1.5rem;
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px!important;
}
.accordion-button svg {
    margin-right: 20px;
    width: 23px;
    height: 23px;
}
.accordion-button:not(.collapsed) {
    background-color: var(--color-gray);
    color: var(--color-black);
}
.accordion-body {
    padding: 1em 2em;
    font-size: 14px;
    font-weight: 500;
    line-height: 3.7;
}
.accordion-body svg {
    width: 15px;
    height: 15px;
}
#collapseThree .accordion-body svg {
    width: 24px;
    height: 24px;
}
.list-borders span {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-left: 10px;
    transform: translateY(2px);
}
.list-no-borders span {
    display: inline-block;
    margin-right: 40px;
    margin-left: 12px;
    transform: translateY(2px);
}
@media(min-width:768px) {
    .accordion-button {
        padding: 2rem;
        font-size: 24px;
    }
    .accordion-button svg {
       width: 35px;
       height: 35px;
    }
    #collapseThree .accordion-body svg {
        width: 35px;
        height: 35px;
    }
    .accordion-body {
        padding: 2rem;
        font-size: 17px;
    }
    .accordion-body svg {
        width: 22px;
        height: 22px;
    }
    .list-borders span {
        position: relative;
        padding-right: 30px;
        margin-right: 30px;
    }
    .list-borders span::before {
        position: absolute;
        content: "";
        top: 27px;
        right: -6px;
        width: 10px;
        height: 10px;
        background: var(--color-gray);
        border-radius: 50%;
    }
}
/* Steps
---------------------------------- */

.steps__number {
    display: inline-block;
    padding: .6em 1.5em;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    background: #fff;
    color: var(--color-accent-1);
    border-radius: 36px;
}

/* Banner
---------------------------------- */

.banner__wrap {
    padding: 50px;
    background-color: #fff;
    background-image: url("../img/svg/banner-bg.svg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    text-transform: uppercase;
}
.banner h2 {
    margin-bottom: 0;
    font-weight: 500;
}

@media(max-width:768px) {
    .banner__wrap {
        padding: 25px;
        text-align: center;
    }
}

/* More
---------------------------------- */

.more__wrap ol {
    padding-left: 22px;
}

/* Getthis
---------------------------------- */

.getthis__wrap {
    border-radius: 30px;
}
.getthis__wrap img {
    width: 60%;
}
.getthis__phone__bg {
    position: absolute;
    top: -65px;
    bottom: -65px;
    left: -65px;
    right: -65px;
}

@media(min-width:768px) {
    .getthis__wrap {
        background: #fff;
    }
    .getthis__phone__bg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Modal
---------------------------------- */

.modal {
    overflow-x: hidden;
    overflow-y: visible;
}
.modal-body {
    padding: 5%;
}
.modal-body li {
    font-size: 17px;
}
.modal-dialog {
    margin: 0;
  }
.modal-dialog-scrollable {
    height: 100%
  }
.modal-content {
    min-height: 100vh;
    max-height: 550px;
    overflow: visible;
}
.modal-content h2 {
    font-size: 2em;
}
.modal-content p {
    color: #656565;
}
#modal .list-scrollable li span {
    font-size: 1em;
   }
.list-scrollable {
    padding-left: 40px;
}
.list-scrollable li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 38px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    list-style: none;
}
.list-scrollable li::before {
    position: absolute;
    content: "";
    top: 20px;
    left: 0px;
    width: 20px;
    height: 21px;
    border: 3px solid rgba(33, 130, 245, 0.6);
    border-radius: 50%;
}
.list-scrollable li span {
    opacity: .8;
}
.list-scrollable li svg {
    height: 18px;
    width: 18px;
}

.btn-free {
    display: inline-block;
    padding: .3em 2em;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    border: 1px solid #1112;
    border-radius: 37px;
  }

  .btn-app-wrap a {
      display: inline-block;
      margin-bottom: 15px;
  }
  @media(min-width:576px) {
    .modal-dialog {
        max-width: 100%;
        margin: 0 auto;
      }
  }

  @media(min-width:768px) {
    .modal {
        overflow-y: auto;
    }
    .modal-dialog {
        max-width: 68%;
    }
    .modal-dialog-scrollable {
        height: calc(100% - 1rem);
      }
    .modal-body {
        padding: 4rem;
        overflow-y: hidden!important
    }
    .modal-content {
        height: 550px;
        max-height: 550px;
        min-height: 550px;
        overflow: hidden;
        border-radius: 25px;
    }
    .list-scrollable {
        height: 64%;
        overflow-y: auto;
        box-shadow: 0 0 45px #0001;
        border-radius: 5px;
    }
    #modal .list-scrollable li span {
        font-size: .8em;
       }
  }
  @media(min-width:1200px) {
    .modal-content h2 {
        font-size: 2.5em;
    }
    #modal .list-scrollable li span {
       font-size: 1em;
      }
  }

/* Mobile popup 
------------------------------------------- */

  .mobile-pop-btn-wrap {
      position: fixed;
      bottom: 30px;
      left: 0;
      width: 100%;
  }
  .mobile-pop-btn-wrap span {
      padding-left: 12px;
  }
  .btn-back {
    margin: 30px;
    border: none;
    background: transparent;
  }
  #modal-2 .img-p {
      padding-left: 20px;
  }
  .list-center {
    width: 270px;
    padding-left: 0;
  }
  .list-center li {
    padding-bottom: 30px;
    font-weight: 700;
  }
  .list-center li span {
      padding-left: 15px;
  }
  .list-center li svg {
    padding: 7px;
    width: 35px;
    height: 35px;
    border: 1px solid #1112;
    border-radius: 5px;
  }
/* Qr Code
---------------------------------- */

.qrcode {
    position: fixed;
    top: calc(100vh - 400px);
    right: 5%;
    width: 150px;
    height: auto;
    background: var(--color-accent-1);
    padding: 10px 10px 0;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    color: #fff;
    z-index: 99;
}
.qrcode img {
    margin-bottom: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.qrcode p {
    font-size: .9em;
}

/* Site footer
--------------------------------------- */

.site-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--color-gray);
}
.site-footer a,
.site-footer span {
    font-size: .8em;
    color: #9A9A9A;
}
@media(min-width:768px) {
    .site-footer {
        padding-top: 40px;
        padding-bottom: 40px;
        background: #fff;
    }
    .site-footer a,
    .site-footer span {
   font-size: 1em;
}
}